altgraph==0.17.5
beautifultable==1.1.0
click==7.1.2
filelock==3.19.1
importlib_metadata==8.7.0
packaging==25.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.10
PyQt6==6.10.0
pyqt6-plugins==6.1.0.2.2
PyQt6-Qt6==6.10.0
pyqt6-tools==6.1.0.3.2
PyQt6_sip==13.10.2
pysondb==1.6.7
python-dotenv==1.2.1
PyYAML==6.0.3
qt6-applications==6.1.0.2.2
qt6-tools==6.1.0.1.2
wcwidth==0.2.14
zipp==3.23.0
